* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: cadetblue;
}
.inputBox {
  padding: 4px 12px;
}

.container {
  width: 100%;
  min-height: 100vh;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.liRes {
  list-style-type: none;
}
.container input {
  border: 2px solid rgb(120, 156, 2);
  outline: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #050505;
  margin-bottom: 14px;
  border-radius: 20px;
}
::placeholder {
  color: #8381b3;
}
button {
  width: 80px;
  height: 40px;
  background: #232724;
  cursor: pointer;
  font-weight: 700;
  color: aliceblue;
  border: 3px solid rgb(150, 150, 38);
  margin-bottom: 4px;
  border-radius: 10px;
}

table {
  display: flex;
  justify-content: center;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 520px;
  height: 80px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: rgb(166, 162, 158);
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/*
.search-bar{
    margin-top:-220px;
    width: 100%;
    max-width: 500px;
    background: rgba(255, 232, 232, 0.5);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 4px 12px;
}

.container input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 8px 12px;
    font-size: 18px;
    font-weight: bold;
    color: #050505;
}
::placeholder {
    color: #cac7ff;
}
.search-bar button img{
    width: 40px;
}
.search-bar button{
    border:0;
    border-radius: 50%;
    width: 60px;
    height:40px;
    background: #11f062;
    cursor: pointer;
    font-weight: 700;
    color: aliceblue;
}
table {
    margin-left: -510px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 520px;
    height: 80px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: rgb(166, 162, 158);
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }






/* *{
    margin: 0px;
    padding:0px;
    font-family: sans-serif;
}
body{
    background-color: #3e5669;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input{
    border:3px solid #32e17c;
    height: 40px;
    width: 300px;
    border-radius:50px;
    padding:0px 10px;

} */
